<!DOCTYPE html>
<html data-ng-app="cuwyApp" data-ng-controller="lp24hCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{siteMap.title}}</title>
	<link href="/css/bootstrap.css" rel="stylesheet"/>
	<link href='/css/font-awesome.min.css' rel='stylesheet prefetch'/>
	<link href="/css2/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
</head>
<body>
	<a href="/home.html"><span class="glyphicon glyphicon-home"></span></a>
	/ <span class="h1">{{siteMap.name}}</span>
	<span class="navbar-right">
		<ul class="nav nav-pills" title="{{numberOfChange}} незбережених змін">
			<li ng-class="{'disabled': numberOfChange == 0}">
				<a ng-click="devPost()" href="#">
					<span class="glyphicon glyphicon-floppy-disk"></span>
					{{numberOfChange}}
					</a>
			</li>
		</ul>
	</span>
	<hr/>
	<div class="container">
	<div class="row">
	<div class="col-xs-12">
	<table>
	<colgroup>
		<col style="width: 2px;"></col>
	</colgroup>
	<caption>
	Name: 
	<span ng-context-menu="menuPrescribe" ng-show="!prescribes.editPrescribesName">
		{{prescribes.PRESCRIBE_NAME}}
	</span>
	<span ng-context-menu="menuPrescribe" ng-show="prescribes.editPrescribesName">
		<div class="row">
			<div class="col-xs-5">
				<input ng-model="prescribes.PRESCRIBE_NAME" type="text" class="form-control" />
			</div>
			<div class="col-xs-3">
			<!-- 
				<button title="Зберегти" type="button" ng-click="devPost()" class="btn btn-default">
			 -->
				<button title="Зберегти" type="button" ng-click="numberOfChange = numberOfChange +1" class="btn btn-default">
					<span class="glyphicon glyphicon-floppy-disk"></span>
				</button>
				<span title="Вийти" class="close navbar-right" data-ng-click="prescribes.editPrescribesName = false">
					<span class="glyphicon glyphicon-share-alt"></span>
				</span>
			</div>
		</div>
	</span>
	</caption>
		<thead>
			<tr>
				<th data-ng-context-menu="menuTasksAll" colspan="2" >Призначене лікування</th>
				<th data-ng-repeat="dayHour in dayHours"
					data-ng-init="lpHour = getLp24hourStr(dayHour)"
				>
					|
					<u data-ng-show="lpHour == prescribeStartHour ">
					{{lpHour}}
					</u>
					<span data-ng-show="lpHour != prescribeStartHour ">
					{{lpHour}}
					</span>
				</th>
				<th>|</th>
			</tr>
		</thead>
		<!-- 
				data-ng-init="currentDrug = prescribes.tasks[$index]"
		 -->
		<tbody data-ng-repeat="taskInDay in tasksInDay"
			ng-init="taskInDayIndex = $index"
		>
			<tr data-ng-class="{selected:prescribes.tasks[$index].selectMultiple}">
				<td class="hover" data-ng-click="selectMultiple(taskInDayIndex)">
					<u data-ng-show="prescribes.tasks.length == $index + 1">{{$index + 1}}</u>
					<span data-ng-show="prescribes.tasks.length != $index + 1">{{$index + 1 }}</span>
				</td>
				<td data-ng-click="openPrescribeDrugDialog(taskInDay, $index)"
				data-ng-context-menu="menuTask"
				title="{{taskInDay.isCollapsed}}"
				>
				{{prescribes.tasks[$index].DRUG_NAME == null ? "-":prescribes.tasks[$index].DRUG_NAME}}
					<small data-ng-show="prescribes.tasks[$index].dose.DOSECONCENTRATON_NUMBER">
						{{prescribes.tasks[$index].dose.DOSECONCENTRATON_NUMBER}}{{prescribes.tasks[$index].dose.DOSECONCENTRATON_UNIT}}
					</small>
					<span>
						{{prescribes.tasks[$index].dose.DOSE_NUMBER}}
						{{prescribes.tasks[$index].dose.DOSE_UNIT}}
						{{prescribes.tasks[$index].dose.DOSE_ROUTE_OF_ADMINISTRATION}}
					</span>
				</td>
				<td data-ng-repeat="dayHour in dayHours"
				 data-ng-click="useHour(taskInDay, taskInDayIndex, $index)"
				> . 
					<span 
					data-ng-show="isMinus(taskInDayIndex, $index)"
					class="glyphicon glyphicon-minus"></span>
				</td>
				<td>.</td>
			</tr>
			<tr data-ng-if="taskInDay.isCollapsed">
				<td />
				<td class="well" colspan="25">
					<span class="close navbar-right">
					<small>
					<span data-ng-click="taskInDay.dialogTab='drug'">
						<span data-ng-show="taskInDay.dialogTab != 'drug'">ліка</span>
						<u data-ng-show="taskInDay.dialogTab == 'drug'">ліка</u>
					</span>
					|
					<span data-ng-click="taskInDay.dialogTab='dose'">
						<span data-ng-show="taskInDay.dialogTab != 'dose'">доза</span>
						<u data-ng-show="taskInDay.dialogTab == 'dose'">доза</u>
					</span>
					|
					<span data-ng-click="taskInDay.dialogTab='times'">
						<span data-ng-show="taskInDay.dialogTab != 'times'">час</span>
						<u data-ng-show="taskInDay.dialogTab == 'times'">час</u>
					</span>
					|
					<a data-ng-click="taskInDay.isCollapsed = false">
						<span class="glyphicon glyphicon-share-alt"></span>
					</a>
					</small>
					</span>
			<div class="row-fluid" title="{{taskInDay}}">
				{{prescribes.tasks[taskInDayIndex].DRUG_NAME}}
				<div data-ng-show="taskInDay.dialogTab=='drug'">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">Пошук:</span>
								<input type="text" class="form-control" data-ng-model="seekDrug" auto-focus="" placeholder="Медикамент пошук / запис">
							</div>
						</div>
						<button  data-ng-click="saveNewDrug(seekDrug)" class="btn btn-default">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
						<div>
						<div data-ng-repeat="drug in drug1sList | filter: seekDrug | limitTo : 12">
							<a ng-click="drugToTask(drug, taskInDay)">
							{{drug.DRUG_NAME}}
							{{$index}}
							</a>
						</div>
						</div>
					</form>
				</div>
				<div data-ng-show="taskInDay.dialogTab=='dose'">
	<div class="row">
		<div class="col-xs-2">
			<span data-ng-repeat="dose in drugDocument.doses" data-ng-click="addDoseToPrescribeDrug(dose)">
				<small data-ng-show="dose.DOSECONCENTRATON_NUMBER">
					{{dose.DOSECONCENTRATON_NUMBER}}{{dose.DOSECONCENTRATON_UNIT}}
				</small>
				{{dose.DOSE_NUMBER}}
				{{dose.DOSE_UNIT}}
				{{dose.DOSE_ROUTE_OF_ADMINISTRATION}}
				|
			</span>
		</div>
		<div class="col-xs-6">
			<table>
				<tr>
					<th title="Концентрація">--</th>
					<th title="Одиниці виміру концентрації">
						<span 
						data-ng-repeat="doseConcentrationUnit in ['%', 'мг/мл']"
						data-ng-click="newDrugDocumentDose.DOSECONCENTRATON_UNIT = doseConcentrationUnit"
						><span data-ng-show="$index != 0">|</span>{{doseConcentrationUnit}}</span>
					</th>
					<th></th>
					<th title="Кількість">--</th>
					<th title="Одиниці виміру">
						<span 
						data-ng-repeat="doseUnit in ['мл', 'таб', 'мг']"
						data-ng-click="newDrugDocumentDose.DOSE_UNIT = doseUnit"
						><span data-ng-show="$index != 0">|</span>{{doseUnit}}</span>
					</th>
					<th title="Шлях введення">
						<span 
						data-ng-repeat="doseRouteOfAdministration in ['в/в', 'в/м', 'п.о.']"
						data-ng-click="newDrugDocumentDose.DOSE_ROUTE_OF_ADMINISTRATION = doseRouteOfAdministration"
						><span data-ng-show="$index != 0">|</span>{{doseRouteOfAdministration}}</span>
					</th>
				</tr>
				<tr>
					<td> <input ng-model="newDrugDocumentDose.DOSECONCENTRATON_NUMBER" type="text" class="form-control" /> </td>
					<td> <input ng-model="newDrugDocumentDose.DOSECONCENTRATON_UNIT" type="text" class="form-control" /> </td>
					<td>-</td>
					<td> <input ng-model="newDrugDocumentDose.DOSE_NUMBER" type="text" class="form-control" /> </td>
					<td> <input ng-model="newDrugDocumentDose.DOSE_UNIT" type="text" class="form-control" /> </td>
					<td> <input ng-model="newDrugDocumentDose.DOSE_ROUTE_OF_ADMINISTRATION" type="text" class="form-control" /> </td>
					<td> &nbsp; </td>
					<td> <a data-ng-click="addNewDrugDocumentDose()"> <span class="glyphicon glyphicon-plus"></span> </a> </td>
				</tr>
			</table>
		</div>
	</div>
					<hr/>
				</div>
				<div data-ng-show="taskInDay.dialogTab=='times'"
				>
				..
				<table>
					<tr>
						<td>
						<span data-ng-click="prescribeHoursLeft(prescribes.tasks[taskInDayIndex])" 
						class="glyphicon glyphicon-arrow-left"></span>
						||
						</td>
						<td data-ng-repeat="hour2prescribe in getHoures2prescribe(prescribes.tasks[taskInDayIndex])">
						<span data-ng-click="prescribeHourLeft(prescribes.tasks[taskInDayIndex],hour2prescribe)" class="glyphicon glyphicon-arrow-left"></span>
							{{hour2prescribe}}
						<span data-ng-click="prescribeHourRight(prescribes.tasks[taskInDayIndex], hour2prescribe)"  class="glyphicon glyphicon-arrow-right"></span>
						|
						</td>
						<td>
						|
						<span data-ng-click="prescribeHoursRight(prescribes.tasks[taskInDayIndex])"
						class="glyphicon glyphicon-arrow-right"></span>
						</td>
					</tr>
				</table>
				..
				</div>
			</div>
				<span class="close navbar-right">
					<small>
					Додаток:
					<a href="/drug.html?id={{prescribes.tasks[$index].DRUG_ID}}">
					{{prescribes.tasks[$index].DRUG_NAME}}
					</a>
					</small>
				</span>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>

	<hr/>
	<div>
		<a href="protocols.html">Клінічні протоколи</a>
		<span class="navbar-right">
		<span>
		скасувати вибір
		</span>
		|
		<span>
		<a href="/print_md_form_nr_011-o.html?id={{parameters.id}}">
		Друк: Форма № 011/о
		</a>
		</span>
		</span>
	</div>

	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-sanitize.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js/textAngular-sanitize.min.js'></script>
	<script src='/js/textAngular.min.js'></script>
	<script src="/db/drug1sList.json.js"></script>
	<script src="/js2/cuwy1.config.js"></script>
	<script src="/js2/cuwy1.directives.js"></script>
	<script src="/js2/lp24hCtrl.js"></script>
	
</body>
</html>
