<!DOCTYPE html>
<html data-ng-app="cuwyApp" data-ng-controller="lp24hCtrl">
<head>
	<meta charset="utf-8" />
	<title>{{siteMap.title}}</title>
	<link href="/css/bootstrap.css" rel="stylesheet"/>
	<link href="/css2/cuwy1-cpoe-hol1.css" rel="stylesheet"/>
</head>
<body>
	<a href="/home.html"><span class="glyphicon glyphicon-home"></span></a>
	/ <span class="h1">{{siteMap.name}}</span>
	<hr/>
	<div class="container">
	<div class="row">
	<div class="col-xs-12">
	<table>
	<caption>
	Name: 
	<span ng-context-menu="menuPrescribe" ng-show="!prescribes.editPrescribesName">
	{{prescribes.prescribes_name}}
	</span>
	<span ng-context-menu="menuPrescribe" ng-show="prescribes.editPrescribesName">
		<div class="row">
			<div class="col-xs-5">
				<input ng-model="prescribes.prescribes_name" type="text" class="form-control" />
			</div>
			<div class="col-xs-3">
				<button title="Зберегти" type="button" ng-click="devPost()" class="btn btn-default">
					<span class="glyphicon glyphicon-floppy-disk"></span>
				</button>
				<span title="Вийти" class="close navbar-right" data-ng-click="prescribes.editPrescribesName = false">
					<span class="glyphicon glyphicon-share-alt"></span>
				</span>
			</div>
		</div>
	</span>
	</caption>
		<thead>
			<tr>
				<th>N</th><th>Призначеня</th>
				<th data-ng-repeat="dayHour in dayHours">
					|
					{{$index>9?'':'0'}}{{dayHour}}
				</th>
				<th>|</th>
			</tr>
		</thead>
		<tbody data-ng-repeat="taskInDay in tasksInDay">
			<tr>
				<td>{{$index + 1 }}</td>
				<td data-ng-click="taskInDay.isCollapsed = !taskInDay.isCollapsed"
				title="{{taskInDay.isCollapsed}}"
				>
				{{prescribes.tasks[$index].drug_name == null ? "-":prescribes.tasks[$index].drug_name}}
				</td>
				<td data-ng-repeat="dayHour in dayHours"> .  </td>
				<td>.</td>
			</tr>
			<tr data-ng-if="taskInDay.isCollapsed">
				<td />
				<td class="well" colspan="18">
				hello
				{{taskInDay}}
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>
	
	
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-sanitize.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src='/js/textAngular-sanitize.min.js'></script>
	<script src='/js/textAngular.min.js'></script>
	<script src="/js2/cuwy1.config.js"></script>
	<script src="/js2/cuwy1.directives.js"></script>
	<script type="text/javascript">
	cuwyApp.controller('lp24hCtrl', [ '$scope', '$http', function ($scope, $http) {
		console.log("lp24hCtrl");
		$scope.siteMap = config.siteMap.siteMaps[2];
		var dayHours = [];
		for(var i=0;i<24;i++) dayHours.push(i);
		$scope.dayHours = dayHours;
		var tasksInDay = [];
		for(var ii=0;ii<12;ii++){
			tasksInDay.push({i:ii,isCollapsed:false});
		}
		$scope.tasksInDay = tasksInDay;
		
		$http({
			method : 'GET',
			url : '/dev/prescribes'
		}).success(function(data, status, headers, config) {
			console.log(data);
			$scope.prescribes = data;
		}).error(function(data, status, headers, config) {
		});

		$scope.devPost = function(){
			console.log("--------devPost-----------");
			$scope.prescribes.editPrescribesName = false;
			$http({
				method : 'POST',
				data : $scope.prescribes,
				url : "/dev/prescribes/save"
			}).success(function(data, status, headers, config){
				console.log(data);
				$scope.prescribes = data;
			}).error(function(data, status, headers, config) {
				$scope.error = data;
			});

		}

		$scope.menuPrescribe = [
			['<span class="glyphicon glyphicon-edit"></span> Корекція', function ($itemScope) {
				console.debug('Edit');
				console.log($itemScope);
				$itemScope.prescribes.editPrescribesName = !$itemScope.prescribes.editPrescribesName;
				console.log($itemScope.prescribes.editPrescribesName);
			}]
		];

	} ] );
	</script>
</body>
</html>
